
# secrets
android/app/google-services.json
*.keystore
*serviceAccount*.json
*.env
# binaries
*.apk
*.aab
*.zip
*.tar.gz
.codesandbox/app-debug.apk
# --- Android build/cache ---
.android/
.gradle/
local.properties
/build/
app/build/
**/*.dex
**/*.lock
**/*.bin
